<main>
<h2>ようこそBookersへ！</h2>

<div class ="top-text">
<span class="top-first-text">Bookers</span>
	では、さまざまな書籍に関するあなたの意見や<br>
	<br>
	印象を共有し交換することができます<br>
</div>


<%= link_to "strat", books_path %>
</main>